<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'save_cat' %}" enctype="multipart/form-data">
    {% csrf_token %}
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add New Category</h4>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputName1"> Category Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name">
                    </div>


                    <div class="form-group">
                      <label>Category Image</label>
                      <input type="file" name="img" >

                    </div>

                    <div class="form-group">
                      <label for="exampleTextarea1">Category Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="desc"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
</form>

</body>
</html>
{% endblock %}